<script setup>
    import NavBar from '@/Components/PortFolio/Navbar.vue';
    import home from '@/Components/PortFolio/home.vue';
</script>

<template>
    <NavBar></NavBar>
    <home class="flex justify-center items-center"></home>
</template>