<template>
    <div class="">
        <div class="">
            <h3 class="">Gastón
                <span class="">Feldick</span>
            </h3><h3 class="">
                <span class="">
                    <span class="">Developer </span>
                    <span class="">
                        <b class="">Laravel</b>
                        <b class="">Vuejs</b>
                        <b class="">Django</b>
                        <b class="">Sql</b>
                    </span>
                </span>
            </h3>
            <div class="">
                <a href="#contact">Get in Touch

                </a>
            </div>
        </div>
    </div>
  </template>
  
  <script>
  export default {
    // Componente Vue
  };
  </script>

<style>




</style>